{% extends 'base/base.html' %}

{% load static %}
    {% block styles %}<link rel="stylesheet" href="{% static 'core/categorys_styles.css' %}">{% endblock %}

{% block content %}
<main>
    <div class="hslider"><img src="{% static 'authentication/assets/Sliders.svg' %}" alt=""></div>

    <section class="init">
        <div class="catalog">
            <h2>Каталог</h2>
            <div class="grid-container">
                {% for category in categorys %}
                <a class="grid-item" href="{% url 'catalog_search' category.slug %}">{{ category.title }}</a>
                {% endfor %}
            </div>
        </div>
    </section>
</main>
{% endblock %}П
