{% extends 'base/base.html' %}
{% load static %}

{% include 'base/includes/header.html' %}
{% block content %}

 {% block styles %}
<link rel="stylesheet" href="{% static 'core/mainpage_styles.css' %}">
{% endblock %}
<main>

    <div class="hslider"><img src="{% static 'authentication/assets/Sliders.svg' %}" alt=""></div>

    <section class="init">
        <div class="specials">
        <div class="specials_firstline">
        <h2>Акции</h2>
            <p>Все акции     ></p>
        </div>
            <div class="specials_row">

            {% for special in specials %}
                <div class="special">
                    <div class="special_image">
                    {% if special.main_image %}
                    <img src="{{special.main_image.url}}" alt="">
                        {% else %}
                        <img src="https://dummyimage.com/272x160" alt="">
                        {% endif %}
                    </div>
                    <div class="special_content">

                        <div class="prices">
                            <p>44,50 ₽</p>
                            <p>50,50 ₽</p>
                        </div>
                        <div class="underprices">
                            <p>С картой</p>
                            <p>Обычная</p>
                        </div>

                    <div class="special_title">
                        <h3>Г\Ц Блинчики с мясом вес, Россия</h3>
                    </div>
                    <div class="stars">

                    </div>
                    <div class="special_button">
                        <button>В корзину</button>
                    </div>

                    </div>
                </div>
            {% endfor %}
            </div>
        </div>

        <div class="specials">
        <div class="specials_firstline">
        <h2>Новинки</h2>
            <p>Все новинки     ></p>
        </div>
            <div class="specials_row">

                {% for new in new_ones %}
                <div class="special">
                    <div class="special_image">
                    {% if special.main_image %}
                    <img src="{{special.main_image.url}}" alt="">
                        {% else %}
                        <img src="https://dummyimage.com/272x160" alt="">
                        {% endif %}
                    </div>
                    <div class="special_content">

                        <div class="prices">
                            <p>44,50 ₽</p>
                            <p>50,50 ₽</p>
                        </div>
                        <div class="underprices">
                            <p>С картой</p>
                            <p>Обычная</p>
                        </div>

                    <div class="special_title">
                        <h3>Г\Ц Блинчики с мясом вес, Россия</h3>
                    </div>
                    <div class="stars">

                    </div>
                    <div class="special_button">
                        <button>В корзину</button>
                    </div>

                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="specials">
        <div class="specials_firstline">
        <h2>Покупали раньше</h2>
            <p>Все покупки     ></p>
        </div>
            <div class="specials_row">

            {% for special in specials %}
                <div class="special">
                    <div class="special_image">
                    {% if special.main_image %}
                    <img src="{{special.main_image.url}}" alt="">
                        {% else %}
                        <img src="https://dummyimage.com/272x160" alt="">
                        {% endif %}
                    </div>
                    <div class="special_content">

                        <div class="prices">
                            <p>44,50 ₽</p>
                            <p>50,50 ₽</p>
                        </div>
                        <div class="underprices">
                            <p>С картой</p>
                            <p>Обычная</p>
                        </div>

                    <div class="special_title">
                        <h3>Г\Ц Блинчики с мясом вес, Россия</h3>
                    </div>
                    <div class="stars">

                    </div>
                    <div class="special_button">
                        <button>В корзину</button>
                    </div>

                    </div>
                </div>

                {% endfor %}


            </div>
        </div>

        <div class="special_offers">
            <div class="special_offers_title">
                <h2>Специальные предложения</h2>
            </div>

            <div class="special_offers_offers">
                <div class="offer_one">
                    <div class="offer_one_leftpart">
                        <h3>Оформите карту ""Северяночка""</h3>
                        <p>И получайте бонусы при покупке <br> в магазинах и на сайте</p>
                    </div>
                    <div class="offer_one_rightpart">
                        <img src="{% static 'authentication/assets/loyaltycard.png' %}" alt="">
                    </div>
                </div>

                <div class="offer_two">
                    <div class="offer_one_leftpart">
                        <h3>Покупайте акционные товары</h3>
                        <p>И получайте вдвое больше бонусов</p>
                    </div>
                    <div class="offer_one_rightpart">
                        <img src="{% static 'authentication/assets/loyaltycard.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock %}