{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'authentication/mainstyle.css' %}">
</head>
<body>
<div class="main_container">
<header>
    <div class="firstheadersect">
        <img class='main_logo' src="{% static 'authentication/assets/main_logo.svg' %}" alt="">
        <a href="{% url 'catalog' %}"><button class="catalog_button">Каталог</button></a>
    <form method="get" action="/search/">
  <div class="searchinput">
    <input type="text" name="q" placeholder="Поиск...">
    <button type="submit" class="search-button">🔍</button>
  </div>
</form>
    </div>
    <div class="secondheadersect">
    <div class="firstcomp">
        <img src="{% static 'authentication/assets/main_heart.svg' %}" alt="">
        <p>Избранное</p>
    </div>
    <div class="secondcomp">
        <img src="{% static 'authentication/assets/main_box.svg' %}" alt="">
        <p>Заказы</p>
    </div>
    <div class="thirdcomp">
        <img src="{% static 'authentication/assets/main_cart.svg' %}" alt="">
        <p>Корзина</p>
    </div>
    </div>
    <div class="authbar">
        <img src="{% static 'authentication/assets/main_avatar.svg' %}" alt="">
        <p>Алексей</p>
    </div>


</header>

<main>
    <div class="hslider"><img src="{% static 'authentication/assets/Sliders.svg' %}" alt=""></div>

    <section class="init">
        <div class="specials">
        <div class="specials_firstline">
        <h2>Акции</h2>
            <p>Все акции     ></p>
        </div>
            <div class="specials_row">

            {% for special in specials %}
                <div class="special">
                    <div class="special_image">
                    {% if special.main_image %}
                    <img src="{{special.main_image.url}}" alt="">
                        {% else %}
                        <img src="https://dummyimage.com/272x160" alt="">
                        {% endif %}
                    </div>
                    <div class="special_content">

                        <div class="prices">
                            <p>44,50 ₽</p>
                            <p>50,50 ₽</p>
                        </div>
                        <div class="underprices">
                            <p>С картой</p>
                            <p>Обычная</p>
                        </div>

                    <div class="special_title">
                        <h3>Г\Ц Блинчики с мясом вес, Россия</h3>
                    </div>
                    <div class="stars">

                    </div>
                    <div class="special_button">
                        <button>В корзину</button>
                    </div>

                    </div>
                </div>
            {% endfor %}
            </div>
        </div>

        <div class="specials">
        <div class="specials_firstline">
        <h2>Новинки</h2>
            <p>Все новинки     ></p>
        </div>
            <div class="specials_row">

                {% for new in new_ones %}
                <div class="special">
                    <div class="special_image">
                    {% if special.main_image %}
                    <img src="{{special.main_image.url}}" alt="">
                        {% else %}
                        <img src="https://dummyimage.com/272x160" alt="">
                        {% endif %}
                    </div>
                    <div class="special_content">

                        <div class="prices">
                            <p>44,50 ₽</p>
                            <p>50,50 ₽</p>
                        </div>
                        <div class="underprices">
                            <p>С картой</p>
                            <p>Обычная</p>
                        </div>

                    <div class="special_title">
                        <h3>Г\Ц Блинчики с мясом вес, Россия</h3>
                    </div>
                    <div class="stars">

                    </div>
                    <div class="special_button">
                        <button>В корзину</button>
                    </div>

                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="specials">
        <div class="specials_firstline">
        <h2>Покупали раньше</h2>
            <p>Все покупки     ></p>
        </div>
            <div class="specials_row">

            {% for special in specials %}
                <div class="special">
                    <div class="special_image">
                    {% if special.main_image %}
                    <img src="{{special.main_image.url}}" alt="">
                        {% else %}
                        <img src="https://dummyimage.com/272x160" alt="">
                        {% endif %}
                    </div>
                    <div class="special_content">

                        <div class="prices">
                            <p>44,50 ₽</p>
                            <p>50,50 ₽</p>
                        </div>
                        <div class="underprices">
                            <p>С картой</p>
                            <p>Обычная</p>
                        </div>

                    <div class="special_title">
                        <h3>Г\Ц Блинчики с мясом вес, Россия</h3>
                    </div>
                    <div class="stars">

                    </div>
                    <div class="special_button">
                        <button>В корзину</button>
                    </div>

                    </div>
                </div>

                {% endfor %}


            </div>
        </div>

        <div class="special_offers">
            <div class="special_offers_title">
                <h2>Специальные предложения</h2>
            </div>

            <div class="special_offers_offers">
                <div class="offer_one">
                    <div class="offer_one_leftpart">
                        <h3>Оформите карту ""Северяночка""</h3>
                        <p>И получайте бонусы при покупке <br> в магазинах и на сайте</p>
                    </div>
                    <div class="offer_one_rightpart">
                        <img src="{% static 'authentication/assets/loyaltycard.png' %}" alt="">
                    </div>
                </div>

                <div class="offer_two">
                    <div class="offer_one_leftpart">
                        <h3>Покупайте акционные товары</h3>
                        <p>И получайте вдвое больше бонусов</p>
                    </div>
                    <div class="offer_one_rightpart">
                        <img src="{% static 'authentication/assets/loyaltycard.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<footer>

</footer>
    </div>
</body>
</html>