{% extends 'base/base.html' %}
{% load static %}


{% block content %}

{% block styles %}
<link rel="stylesheet" href="{% static 'core/product_detail_styles.css' %}">
{% endblock %}
<main>
    <section class="init">
        <div class="product">
        <div class="product_firstline">
        <h2>{{ object.title }}</h2>
        </div>
            <div class="product_secondline">
                <p>арт. 371431</p>
                <div class="review">
                    <div class="review_stars">
                        <img src="{% static 'authentication/assets/star.svg' %}" alt="">
                        <img src="{% static 'authentication/assets/star.svg' %}" alt="">
                        <img src="{% static 'authentication/assets/star.svg' %}" alt="">
                        <img src="{% static 'authentication/assets/star.svg' %}" alt="">
                        <img src="{% static 'authentication/assets/star.svg' %}" alt="">
                    </div>
                    <div class="review_text">
                        <p>3 отзыва</p>
                    </div>
                </div>
                <div class="product_share">
                    <div class="share_text">
                        <p>Поделиться</p>
                    </div>
                </div>
                <div class="product_special">
                    <div class="special_ico">
                        <img src="{% static 'authentication/assets/main_heart.svg' %}" alt="">
                    </div>
                    <div class="special_text">
                        <p>В избраное</p>
                    </div>
                </div>
            </div>
            <div class="prinfo_essential">
            <div class="main_image">
                <img src="{{ object.main_image.url }}" alt="" width="504" height="496">
            </div>

            <div class="product_info">
                <div class="info_firstline">
                    <p>192.89</p>
                    <p>108.99</p>
                </div>
                <div class="info_secondline">
                    <p>Обычная цена</p>
                    <p>С картой Северяночки</p>
                </div>
                <div class="cart_button">
                    <button type="submit">В корзину</button>
                </div>
                <div class="underbutton">
                    <p>Вы получаете 10 бонусов</p>
                    <p>Уведомить о снижении цены</p>
                </div>

                <div class="additional">
                    <div class="brand_info">
                    <p>Бренд</p>
                    <p>Простоквашино</p>
                    </div>
                    <div class="coo_info">
                    <p>Страна производителя</p>
                    <p>Россия</p>
                    </div>
                    <div class="external_info">
                    <p>Упаковка</p>
                    <p>180г</p>
                    </div>
                </div>
            </div>
                </div>

        </div>
    </section>
</main>
{% endblock %}