{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'authentication/mainstyle.css' %}">
</head>
<body>
<div class="main_container">
<header>
    <div class="firstheadersect">
        <img class='main_logo' src="{% static 'authentication/assets/main_logo.svg' %}" alt="">
    <a href="{% url 'catalog' %}"><button class="catalog_button">Каталог</button></a>
    <form method="get" action="/search/">
  <div class="searchinput">
    <input type="text" name="q" placeholder="Поиск...">
    <button type="submit" class="search-button">🔍</button>
  </div>
</form>
    </div>
    <div class="secondheadersect">
    <div class="firstcomp">
        <img src="{% static 'authentication/assets/main_heart.svg' %}" alt="">
        <p>Избранное</p>
    </div>
    <div class="secondcomp">
        <img src="{% static 'authentication/assets/main_box.svg' %}" alt="">
        <p>Заказы</p>
    </div>
    <div class="thirdcomp">
        <img src="{% static 'authentication/assets/main_cart.svg' %}" alt="">
        <p>Корзина</p>
    </div>
    </div>
    <div class="authbar">
        <img src="{% static 'authentication/assets/main_avatar.svg' %}" alt="">
        <p>Алексей</p>
    </div>


</header>

<main>
    <section class="init">
        <div class="product">
        <div class="product_firstline">
        <h2>{{ object.title }}</h2>
        </div>
            <div class="product_secondline">
                <p>арт. 371431</p>
                <div class="review">
                    <div class="review_stars">
                        <img src="{% static 'authentication/assets/star.svg' %}" alt="">
                        <img src="{% static 'authentication/assets/star.svg' %}" alt="">
                        <img src="{% static 'authentication/assets/star.svg' %}" alt="">
                        <img src="{% static 'authentication/assets/star.svg' %}" alt="">
                        <img src="{% static 'authentication/assets/star.svg' %}" alt="">
                    </div>
                    <div class="review_text">
                        <p>3 отзыва</p>
                    </div>
                </div>
                <div class="product_share">
                    <div class="share_text">
                        <p>Поделиться</p>
                    </div>
                </div>
                <div class="product_special">
                    <div class="special_ico">
                        <img src="{% static 'authentication/assets/main_heart.svg' %}" alt="">
                    </div>
                    <div class="special_text">
                        <p>В избраное</p>
                    </div>
                </div>
            </div>
            <div class="prinfo_essential">
            <div class="main_image">
                <img src="{{ object.main_image.url }}" alt="" width="504" height="496">
            </div>

            <div class="product_info">
                <div class="info_firstline">
                    <p>192.89</p>
                    <p>108.99</p>
                </div>
                <div class="info_secondline">
                    <p>Обычная цена</p>
                    <p>С картой Северяночки</p>
                </div>
                <div class="cart_button">
                    <button type="submit">В корзину</button>
                </div>
                <div class="underbutton">
                    <p>Вы получаете 10 бонусов</p>
                    <p>Уведомить о снижении цены</p>
                </div>

                <div class="additional">
                    <div class="brand_info">
                    <p>Бренд</p>
                    <p>Простоквашино</p>
                    </div>
                    <div class="coo_info">
                    <p>Страна производителя</p>
                    <p>Россия</p>
                    </div>
                    <div class="external_info">
                    <p>Упаковка</p>
                    <p>180г</p>
                    </div>
                </div>
            </div>
                </div>

        </div>
    </section>
</main>

<footer>

</footer>
    </div>
</body>
</html>