{% extends 'base/base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'core/search_page_styles.css' %}">
{% endblock %}

{% block content %}
<main>
    <div class="hslider"><img src="{% static 'authentication/assets/Sliders.svg' %}" alt=""></div>

    <section class="init">
        <div class="specials">
        <div class="specials_firstline">
        <h2>Товары по запросу  {{ query }}</h2>
        </div>
            <div class="specials_row">

            {% for special in object_list %}
                <div class="special">
                    <div class="special_image">
                        {% if special.main_image %}
                    <img src="{{special.main_image.url}}" alt="">
                        {% else %}
                        <img src="https://dummyimage.com/272x160" alt="">
                        {% endif %}
                    </div>
                    <div class="special_content">

                        <div class="prices">
                            <p>{{ special.price }} P</p>
                            <p>{{ special.price }}</p>
                        </div>
                        <div class="underprices">
                            <p>С картой</p>
                            <p>Обычная</p>
                        </div>

                    <div class="special_title">
                        <h3>{{ special.title }}</h3>
                    </div>
                    <div class="stars">

                    </div>
                    <div class="special_button">
                        <button>В корзину</button>
                    </div>

                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </section>
</main>
    {% endblock %}