{% load static %}

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    min-height: 100%
}

* {
box-sizing: border-box;
}

.main_container {
    max-width: 1440px;
    margin: 0 auto;
}

header {
display: flex;
justify-content: space-around;
box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.3);
align-items: center;
padding: 8px 30px;
position: relative;
z-index: 1;
}

.firstheadersect {
display: flex;
gap: 2rem;
}

.searchinput {
    display: flex;
    align-items: center;
}

.searchinput input {
    width: 375px;
    height: 40px;
    padding: 0 10px;
    font-size: 16px;
}

.search-button {
    height: 40px;
    width: 40px;
    background-color: #444;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
}


.secondheadersect {
display: flex;
gap: 2rem;
}


.main_logo {
width: 152px;
height: 32px;
position: relative;
top: 5px;
}

.catalog_button {
background-color: #FF6633;
width: 140px;
height: 40px;
position: relative;
top: 2px;
}

.firstcomp img{
width: 24px;
height: 24px;
position: relative;
left: 24px;
}

.secondcomp img{
width: 24px;
height: 24px;
position: relative;
left: 10px;
}

.thirdcomp img{
width: 24px;
height: 24px;
position: relative;
left: 15px;
}

.authbar {
display: flex;
gap: 1rem;
}

.authbar p {
position: relative;
top: 10px;
}

.specials_firstline {
font-size: 24px;
display: flex;
justify-content: space-between;
width: 100%;
opacity: 0.9;
}

.specials_firstline h2{
opacity: 0.9;
}

.specials_firstline p {
    position: relative;
    top: 24px;
}



.init {
width: 100%;
height: 100%;
padding-left: 150px;
padding-right: 100px;
background-color: #FBF8EC;
padding-top: 30px;
min-height: 500px;
}

.specials_row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.catalog h2 {
    font-size: 45px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);   /* 4 колонки */
  grid-template-rows: repeat(4, 230px);    /* 4 строки по 200px */
  gap: 45px;                               /* расстояние между элементами */
  max-width: 1208px;                        /* ограничение ширины сетки (по желанию) */
  margin: 0 auto;                          /* центрирование */
}

.grid-item {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;     /* выравнивание по вертикали */
  justify-content: center; /* по горизонтали */
  font-size: 24px;
}

.grid-item:nth-child(1) {
    grid-column: span 2;
    background-image: url('./assets/catalog_images/milk_cheese_egg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.grid-item:nth-child(2) {
    background-image: url('./assets/catalog_images/bread.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.grid-item:nth-child(3) {
    background-image: url('./assets/catalog_images/fruits_vegetables.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.grid-item:nth-child(4) {
    background-image: url('./assets/catalog_images/freezed.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.grid-item:nth-child(5) {
    background-image: url('./assets/catalog_images/drinks.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.grid-item:nth-child(6) {
    background-image: url('./assets/catalog_images/pastries.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.grid-item:nth-child(7) {
    background-image: url('./assets/catalog_images/tea_coffee.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.grid-item:nth-child(8) {
    background-image: url('./assets/catalog_images/bacally.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.grid-item:nth-child(9) {
    background-image: url('./assets/catalog_images/healthy.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.grid-item:nth-child(10) {
    background-image: url('./assets/catalog_images/zooprods.png');
    grid-column: span 2;
}

.grid-item:nth-child(11) {
    background-image: url('./assets/catalog_images/childfood.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.grid-item:nth-child(12) {
    background-image: url('./assets/catalog_images/meat_bird.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-column: span 2;
}

.grid-item:nth-child(13) {
    background-image: url('./assets/catalog_images/not_cons.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.grid-item:nth-child(14) {

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.special {
height: 349px;
width: 272px;
background-color: white;
padding: 0;
margin: 0;
}

main {
width: 100%;
}

p, h1 {
margin: 0;
padding: 0;
}



.prices, .underprices{
display: flex;
justify-content: space-between;
padding: 0;
margin: 0;
}

.prices p:nth-child(1) {
font-weight: 900;
font-size: 20px;
}

.prices p:nth-child(2) {
font-size: 16px;
position: relative;
top: 7.5px;
}

.special_title h1 {
font-weight: 300;
}

.special_content {
padding: 10px;
}

.special_image img{
    width: 272px;
    height: 160px;
}

.specials {
margin-bottom: 55px;
}


.special_button button {
width: 100%;
border-color: green;
background-color: white;
height: 40px;
border-width: 3px;
border-radius: 6px;
}

.special_offers {
width: 100%;
}

.offer_one {
background-color: #CA936080;
width: 584px;
height: 200px;
border-radius: 9px;
display: flex;
}

.offer_one_leftpart {
    align-items: center;
    flex-direction: column;
    width: 70%;
}

.offer_one_leftpart h3 {
font-size: 24px;
font-weight: 700;
}

.offer_one_leftpart p {
font-size: 16px;
}

.offer_two {
background-color: #E5FFDE;
width: 584px;
height: 200px;
border-radius: 9px;
display: flex;
}

.offer_two_leftpart {
    align-items: center;
    flex-direction: column;
    width: 70%;
    margin: 10px;
}

.offer_two_leftpart h3 {
font-size: 24px;
font-weight: 700;
}

.offer_two_leftpart p {
font-size: 16px;
}

.special_offers_offers {
display: flex;
justify-content: space-between;
}

.specials_row {
display: flex;
gap: 2rem;
}

.special_offers {
    padding-bottom: 80px;
}

.special_offers_title h2 {
font-size: 36px;
opacity: 0.7;
}

footer {
    background-image: url('./assets/footer.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    width: 100%;
    height: 200px;
    margin: 0;
}

