{% load static %}

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    min-height: 100%
}

* {
box-sizing: border-box;
}

.main_container {
    max-width: 1440px;
    margin: 0 auto;
}

header {
display: flex;
justify-content: space-around;
box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.3);
align-items: center;
padding: 8px 30px;
position: relative;
z-index: 1;
}

.firstheadersect {
display: flex;
gap: 2rem;
}

.searchinput {
    display: flex;
    align-items: center;
}

.searchinput input {
    width: 375px;
    height: 40px;
    padding: 0 10px;
    font-size: 16px;
}

.search-button {
    height: 40px;
    width: 40px;
    background-color: #444;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
}


.secondheadersect {
display: flex;
gap: 2rem;
}


.main_logo {
width: 152px;
height: 32px;
position: relative;
top: 5px;
}

.category_suggestions {
    display: flex;
    gap: 10px;
}

.filter_essence {
    width: 272px;
    height: 542px;
    margin-right: 100px;
}

.filter_firstline h2 {
    margin: 0;
    padding: 0;
}

.filter_firstline {
    margin-top: 40px;
}

.filter_filterbutton {
    background-color: #F3F2F1;
    width: 272px;
    height: 44px;
    text-align: left;
    font-weight: 700;
    padding: 5px;
}

.product_secondline {
    display: flex;
    gap: 30px;
}

.product_secondline h2 {
    font-size: 24px;
}

.review {
    display: flex;
    gap: 4px;
}

.review .review_text {
    position: relative;
    bottom: 1px;
}

.product_special {
    display: flex;
    gap: 8px;
}

.prinfo_essential {
    display: flex;
    gap: 40px;
}

.info_firstline {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.info_firstline p:nth-child(1) {
    font-size: 24px;
    margin: 0;
    padding: 0;
    position: relative;
    top: 10px;
}

.info_firstline p:nth-child(2) {
    font-size: 36px;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.info_secondline {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.underbutton p {
    margin: 10px;
}

.underbutton p:nth-child(1) {
    margin: 10px;
    color: green;
}

.cart_button button {
    width: 100%;
    height: 60px;
    border-radius: 5px;
    background-color: #FF6633;
    color: white;
    font-size: 24px;
}

.underbutton p:nth-child(1) {
    text-align: center;
}

.underbutton p:nth-child(2) {
    text-align: center;
}

.brand_info, .coo_info, .external_info {
    display: flex;
    justify-content: space-between;
    height: 26px;
}

.brand_info, .external_info {
    background-color: #F3F2F1;
}



.product_info {
    width: 456px;
    height: 496px;
}


.clear_button {
    background-color: #F3F2F1;
    width: 85px;
    height: 32px;
    text-align: center;
    font-weight: 400;
    position: relative;
    top: 3px;
}

.clear_button p {
    position: relative;
    top: 4px;
}

.filter_filterbutton p {
    font-weight: 700;
    position:relative;
    top: 3px;
    font-size: 16px;
}

.filter_secondline {
    display: flex;
    gap: 7px;
    width: 100%;
    margin-bottom: 20px;
}

.isbutton {
    margin: 20px 0px;
}

.essentials {
    display: flex;
}

.button_submit button {
    background-color: #FF6633;
    width: 272px;
    height: 40px;
    color: white;
    font-size: 18px;
}

.filter_secondline p {
    position: relative;
    top: -8px;
    font-size: 40px;
}

.filter_secondline input {
    width: 124px;
    height: 40px;
    border-radius: 3px;
}

.filter_firstline {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #4CAF50;
}

input:checked + .slider::before {
  transform: translateX(24px);
}

.category_suggestions div {
    background-color: grey;
    border: 1px solid grey;
    background-color: #F3F2F1;
    text-align: center;
    opacity: 0.7;
    padding: 5px;
    height: 32px;
    width: 220px;
    border-radius: 5px;
}

.category_suggestions {
    padding-bottom: 70px;
    display: flex;
    gap: 20px;
}

.category_suggestions div:nth-child(2) {
    height: 32px;
    width: 147px;
}

.category_suggestions div:nth-child(3) {
    height: 32px;
    width: 87px;
}

.catalog_button {
background-color: #FF6633;
width: 140px;
height: 40px;
position: relative;
top: 2px;
}

.catalog_button:hover {
    cursor: pointer;
    box-shadow: 0px 1px;
}



a.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  background-size: cover;
  background-position: center;
  font-weight: bold;
  border-radius: 8px;
  transition: 0.2s ease-in-out;
}

a.grid-item:hover {
  opacity: 0.9;
  transform: scale(1.02);
}

.firstcomp img{
width: 24px;
height: 24px;
position: relative;
left: 24px;
}

.secondcomp img{
width: 24px;
height: 24px;
position: relative;
left: 10px;
}

.thirdcomp img{
width: 24px;
height: 24px;
position: relative;
left: 15px;
}

.authbar {
display: flex;
gap: 1rem;
}

.authbar p {
position: relative;
top: 10px;
}

.specials_firstline {
font-size: 24px;
display: flex;
justify-content: space-between;
width: 100%;
opacity: 0.9;
}

.specials_firstline h2{
opacity: 0.9;
}

.specials_firstline p {
    position: relative;
    top: 24px;
}



.init {
width: 100%;
height: 100%;
padding-left: 150px;
padding-right: 100px;
background-color: #FBF8EC;
padding-top: 30px;
min-height: 500px;
}

.specials_row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.catalog h2 {
    font-size: 45px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);   /* 4 колонки */
  grid-template-rows: repeat(4, 230px);    /* 4 строки по 200px */
  gap: 45px;                               /* расстояние между элементами */
  max-width: 1208px;                        /* ограничение ширины сетки (по желанию) */
  margin: 0 auto;                          /* центрирование */
}

.grid-item {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;     /* выравнивание по вертикали */
  justify-content: center; /* по горизонтали */
  font-size: 24px;
}

.grid-item:nth-child(1) {
    grid-column: span 2;
    background-image: url('./assets/catalog_images/milk_cheese_egg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.grid-item:nth-child(2) {
    background-image: url('./assets/catalog_images/bread.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.grid-item:nth-child(3) {
    background-image: url('./assets/catalog_images/fruits_vegetables.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.grid-item:nth-child(4) {
    background-image: url('./assets/catalog_images/freezed.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.grid-item:nth-child(5) {
    background-image: url('./assets/catalog_images/drinks.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.grid-item:nth-child(6) {
    background-image: url('./assets/catalog_images/pastries.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.grid-item:nth-child(7) {
    background-image: url('./assets/catalog_images/tea_coffee.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.grid-item:nth-child(8) {
    background-image: url('./assets/catalog_images/bacally.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.grid-item:nth-child(9) {
    background-image: url('./assets/catalog_images/healthy.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.grid-item:nth-child(10) {
    background-image: url('./assets/catalog_images/zooprods.png');
    grid-column: span 2;
}

.grid-item:nth-child(11) {
    background-image: url('./assets/catalog_images/childfood.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.grid-item:nth-child(12) {
    background-image: url('./assets/catalog_images/meat_bird.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-column: span 2;
}

.grid-item:nth-child(13) {
    background-image: url('./assets/catalog_images/not_cons.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.grid-item:nth-child(14) {

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.special {
height: 349px;
width: 272px;
background-color: white;
padding: 0;
margin: 0;
}

main {
width: 100%;
}

p, h1 {
margin: 0;
padding: 0;
}



.prices, .underprices{
display: flex;
justify-content: space-between;
padding: 0;
margin: 0;
}

.prices p:nth-child(1) {
font-weight: 900;
font-size: 20px;
}

.prices p:nth-child(2) {
font-size: 16px;
position: relative;
top: 7.5px;
}

.special_title h1 {
font-weight: 300;
}

.special_content {
padding: 10px;
}

.special_image img{
    width: 272px;
    height: 160px;
}

.specials {
margin-bottom: 55px;
}


.special_button button {
width: 100%;
border-color: green;
background-color: white;
height: 40px;
border-width: 3px;
border-radius: 6px;
}

.special_offers {
width: 100%;
}

.offer_one {
background-color: #CA936080;
width: 584px;
height: 200px;
border-radius: 9px;
display: flex;
}

.offer_one_leftpart {
    align-items: center;
    flex-direction: column;
    width: 70%;
}

.offer_one_leftpart h3 {
font-size: 24px;
font-weight: 700;
}

.offer_one_leftpart p {
font-size: 16px;
}

.offer_two {
background-color: #E5FFDE;
width: 584px;
height: 200px;
border-radius: 9px;
display: flex;
}

.offer_two_leftpart {
    align-items: center;
    flex-direction: column;
    width: 70%;
    margin: 10px;
}

.offer_two_leftpart h3 {
font-size: 24px;
font-weight: 700;
}

.offer_two_leftpart p {
font-size: 16px;
}

.special_offers_offers {
display: flex;
justify-content: space-between;
}

.specials_row {
display: flex;
gap: 2rem;
}

.special_offers {
    padding-bottom: 80px;
}

.special_offers_title h2 {
font-size: 36px;
opacity: 0.7;
}

footer {
    background-image: url('./assets/footer.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    width: 100%;
    height: 200px;
    margin: 0;
}

