{% extends 'base/base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'cart/order_styles.css' %}">{% endblock %}
{% block content %}
<div class="init">
    <div class="main_title">
        <h1>Заказы</h1>
    </div>
    {% for order in orders %}
    <div class="order">
    <div class="orders_firstline">
        <div class="date_n_button">
            <div class="order_date">
                <div class="firstdate">
                    <p>01.04.2024</p>
                </div>
                <div class="seconddate">
                    11:00-14:00
                </div>
            </div>
            <div class="order_button">
                <button type="submit">В процессе</button>
            </div>
        </div>


        <div class="price_n_button">
            <div class="order_price">
                <p>3000.00 P</p>
            </div>
        </div>
        </div>
    <div class="special_section">
            {% for special in specials %}
                <div class="special">
                    <div class="special_image">
                    {% if special.main_image %}
                    <img src="{{special.main_image.url}}" alt="">
                        {% else %}
                        <img src="https://dummyimage.com/272x160" alt="">
                        {% endif %}
                    </div>
                    <div class="special_content">

                        <div class="prices">
                            <p>44,50 ₽</p>
                        </div>

                    <div class="special_title">
                        <h3>Г\Ц Блинчики с мясом вес, Россия</h3>
                    </div>
                    <div class="stars">

                    </div>
                    <div class="special_button">
                        <button>В корзину</button>
                    </div>
                    </div>
                </div>
            {% endfor %}
            </div>
    </div>
    {% endfor %}
    </div>

</div>
{% endblock %}